 *{
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    background-color:rgb(210, 238, 229);

 }
 .spacer {
  flex: 1;
}
label{
color: orange !important;
}
h1 {
    font-size: 50px;
    color: orange !important;
    font-weight: bold;
}
h5,p {
color: orange !important;
}


