{{#partial "styles"}}
    <link rel="stylesheet" href="style.css">
{{/partial}}

{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            <br>
            <br>
                <img height="150" width="200" src="/images/squad.jpg" alt="Squad">
                <a href="/squads"><button class="btn btn-primary">Squads</button></a>
            </div>
            <br>
            <br>
            <div class="col-md-6">
                <img height="150" width="200" src="/images/heroes.jpg" alt="Heroes">
                <a href="/heroes"><button class="btn btn-primary">Heroes</button></a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}